<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>短链接生成</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.0/jquery.min.js"></script>
  <style>
    body:before {
      background: url({{.WEB_BACKGROUND}}) center/cover;
    }
  </style>
</head>


<body>
  <header>
    <h1 id="title" title="点击自定义后缀">短链接</h1>
  </header>
  {{.LayoutContent}}
  <footer>
    <p>
    <div>您生成了{{.userUrlNum}}个短链接</div>
    <div>本站共生成了{{.allUrlNum}}个短链接</div>
    </p>
    
  </footer>

  {{str2html .WEB_SCRIPT}}
</body>

</html>
